@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>
<p>
    Welcome to Sort It Out! A site based off of the wonderful trading card game, Magic the Gathering to help you save a deck and and shuffle it up a bit to figure out if its going work. Enjoy and get to crafting today!
</p>
