@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>If you any questions you can contact us at</h3>
<address>
    211 S Tillman ST<br />
    Glennville, GA 30427<br />
    <abbr title="Phone">P:</abbr>
    912.555.4918
</address>
<address>
    <strong>Support:</strong>   <a href="jasonblangley93@gmail.com">jasonblangley93@gmail.com</a><br />
</address>