@{
    ViewBag.Title = "Home";
}
<body class="home">
    <h1 id="header">Welcome Planeswalker!</h1>
    <img src="http://media.wizards.com/images/magic/multiverse/planes/Innistrad/ISD_PhotoFrameImage_A_01.jpg" />
    <div>
        <ol>
            <li>Make an Account</li>
            <li>Browse Cards</li>
            <li>Build a Deck</li>
            <li>Shuffle Your Cards</li>
            <li>Win at Friday Night Magic</li>
        </ol>
    </div>
</body>